# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# Maven
target/
.idea/
*.iml

# Environment
.env
application-dev.yml

# IDE
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
